# Matching files
*_MM/

# Mathematica notebooks
*.nb
*.ipynb

# Figures, for now
img/

# raw data
data/
granada/
granada2/
old_granada/
python/*_matching.py

# Matching files
mm/Granada*.fr
mm/Granada*.gauge
mm/Granada*.log
mm/Granada*.red
mm/Granada*.symm

# macOS
.DS_Store

# Python
__pycache__/

# Notebooks
notebooks/

# Junk
etc/
